.style-init{
    padding: 0 2px 1px;
    margin: 0 0 5.4px 0;
    color: orangered;
    font: 700 14px/1 'Unify Sans','Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
    text-decoration: underline;
    text-decoration-color: orangered;}
.style-article{
    width: 660px}
.style-title{
    margin: 6px 0 0;
    font: 700 36px/38px 'Unify Sans','Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;}
.style-staff{
    margin: 12px 6px 0 0;}
.style-author{
    margin: 0 6px 0 0;
    font: 700 16px/20px 'Unify Sans','Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
    color: black;
    text-decoration: underline;
    text-decoration-color: lightskyblue;}
.style-editorial{
    display: inline;
    margin: 1px 0 0;
    font: 16px/20px 'Georgia Pro',Georgia,'Droid Serif',serif;}
.style-date{
    margin: 4px 0;
    font: 12px/15px 'Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;}
.style-container{
    margin: 6px 0 0;
    font: 18px/27px 'Georgia Pro',Georgia,'Droid Serif',serif;}
.style-paragraphs{
    margin: 14px 0;}
.style-link{
    color: black;
    text-decoration: underline;
    text-decoration-color: lightskyblue;}
.style-img1{
    width: 660px;
    margin: 30px 0;}
.style-img2{
    width: 300px;
    margin: 10px 0 24px 31px;
    float: right;
    clear: right;}
.style-epigraph{
    width: 100%;
    margin: 6px 0 0;
    font: 12px/15px 'Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;}
.style-footer{
    padding: 50px 0 50px;
    font: 12px/14px 'Georgia Pro',Georgia,'Droid Serif',serif;
    text-align: center;}