@font-face{
    font-family: 'Black-Regular';
    src: url('./Black-Regular.ttf');}
.back{
    height: 480px;
    margin: 0 0 -480px;
    min-width: 1000px;
    background: linear-gradient(150deg,#d34600,50%,#fa9632);
    display: block;}
.front{
    isolation: isolate;
    display: flex;
    justify-content: space-between;
    min-width: 1000px;}
.exit{
    display: flex;
    width: 100%;
    height: 20px;
    margin: 24px 0 0;}
.navegation{
    display: inline-flex;
    margin: 0 0 auto;
    padding: 0 2px 1px;
    color: #d34600;
    font-family: 'Black-Regular';
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #d34600;}
.navegation:hover{
        color: indigo;}
.article{
    width: 660px;
    margin-right: 20px;}
.title{
    margin: 0 6px 0 0;
    color: #303030;
    font-family: 'Black-Regular';
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;}
.staff{
    display: inline-flex;
    margin: 12px 6px 0 0;}
.author{
    margin: 0 6px 0 0;
    color: #303030;
    font-family: 'Black-Regular';
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #0098fe;;}
.editorial{
    display: inline;
    margin: 1px 0 0;
    color: #303030;
    font-family: 'Georgia Pro',Georgia,'Droid Serif',serif;
    font-size: 16px;
    line-height: 20px;}
.date{
    margin: 4px 0;
    color: #626262;
    font-family: 'Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 15px;}
.main{
    align-content: start;
    width: 1020px;
    min-height: 480px;
    margin: 30px auto 0;
    padding: 0 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-shrink: 0;
    position: relative;
    background: #fff;}
.container{
    margin: 6px 0 0;
    color: #303030;
    font-family: 'Georgia Pro',Georgia,'Droid Serif',serif;
    font-size: 18px;
    line-height: 27px;}
.video{
    margin: 12px 0 30px;
    flex-flow: column;}
.title-video{
    margin: 8px 0 11px;
    font-weight: 700;
    font-family: 'Black-Regular';
    font-size: 16px;
    line-height: 20px;}
.epigraph-video{
    margin: -7px 0 0;
    font-family: 'Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 15px;}
.paragraphs{
    margin: 14px 0;}
.centered-fig{
    width: 660px;
    margin: 30px 0;}
.right-fig{
    width: 300px;
    margin: 10px 0 24px 31px;
    float: right;
    clear: right;}
.epigraph-text{
    margin: 6px 0 0;
    color: #303030;
    font-family: 'Helvetica Neue','Arial Nova',Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 15px;}
.epigraph-line{
    content: '';
    width: 105px;
    height: 1px;
    margin: 11px 0 0;
    background: #0098fe;}
.link{
    color: #303030;
    text-decoration: underline;
    text-decoration-color:#0098fe;}
.footer{
    padding: 50px 0 58px;
    font-family: 'Georgia Pro',Georgia,'Droid Serif',serif;
    font-size: 12px;
    line-height: 14px;
    text-align: center;}